extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 WESTON RWIGEMA

       
        p Full Stack JavaScript Developer


        .about-bio

          
          p As a skilled full stack JavaScript developer, I bring a comprehensive understanding of both front-end and back-end development, enabling me to create seamless and efficient web applications. My expertise in JavaScript frameworks like React and Node.js allows me to develop dynamic user interfaces and robust server-side logic. Potential employers will benefit from my ability to handle all aspects of the development process, from designing responsive layouts to managing databases and APIs. This versatility not only streamlines project workflows but also ensures the delivery of high-quality, scalable solutions that meet modern business needs.

      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        
        ul
          li 613-220-7156
          li tonytany53@gmail.com

       
        a.btn-link(href='https://github.com/WeStOn2000') GitHub
       

    nav.nav
      a(href='/')
        span &larr;
        |  Back