extends layout.pug

block content
  article.portfolio-intro
    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 Hey, Potential Employers, My name is Weston and this is my Portfolio. Let's make the web great together!

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p This Portfolio showcases the projects I have made during my journey as a JavaScript Developer. Hopefully you will appreciate it. Thank you!

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=project.live_link)
            img.thumbnail(src=project.image_urls[0], alt=`Thumbnail of ${project.project_name}`)
            h5= project.project_name

